.sidenav {
    width: 240px;
}

.main-header {
    font-weight: 600;
    margin: 1rem;
    font-size: 1.5rem;
}

.collapsible-header {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
}

.tab > a {
    color: #424242;
}

.tabs {
    display: flex;
    flex-direction: column;
    height: auto;
}

.tab {
    border-bottom: transparent 2px solid;
}

.tab:active,
.tab:hover,
.tab:active {
    border-bottom: #f6b2b5 2px solid;
}
.indicator {
    display: none;
}

